body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #403F44, #1E1B32);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    margin: 0;
    min-height: 100vh;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1000;

    display: flex;
    margin: 10px auto;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 70%;
    max-width: 90%;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    transition: all 0.2s ease;
    height: 40px;
}

.navbar:hover {
    box-shadow: 0 0 10px #5A6A80;
}

nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.navs {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
}

.navs:hover {
    transform: scale(1.1);
}

.name {
    font-size: 10px;
    text-align: center;
}

.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    width: 75%;
    max-width: 75%;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    transition: all 0.2s ease;
}

.main-page:hover {
    box-shadow: 0 0 10px #5A6A80;
}

.profile-picture {
    border-radius: 50%;
    height: 100px;
    border: 1.5px solid white;
    transition: all 1s ease;
}

.profile-picture:hover {
    border-radius: 25%;
    transform: scale(1.15);
}

.stats {
    display: flex;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    transition: all 0.2s ease;
    min-height: 40vh;
    width: 90%;
    overflow-x: scroll;
}

.stats::-webkit-scrollbar {
    width: 5px;
}

.stats:hover {
    box-shadow: 0 0 10px #5A6A80;
}

.gen-stats {
    width: 50%;
}

.stat {
    font-size: 15px;
}

.most-active-days {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 15px;
}

.most-active-days span {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    display: block;
}

.mon { width: 200px; }
.tue { width: 95px; }
.wed { width: 55px; }
.thu { width: 85px; }
.fri { width: 35px; }
.sat { width: 25px; }
.sun { width: 55px; }

a {
    color: white;
    text-decoration: none;
}
