body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #403F44, #1E1B32);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    height: 100vh;
    margin: 0;
}

.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    height: 60%;
    min-width: 250px;
    width: 75%;
    box-shadow: 0 0 2px rgb(0, 0, 0);
    border-radius: 10px;
    transition: all 0.2s ease;
}

.main-page:hover {
    box-shadow: 0 0 2px #5A6A80;
}

.score {
    font-size: 30px;
}

.click {
    font-size: 150px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    transition: all 0.3s ease;
}

.click:active {
    transform: scale(0.90);
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1000;

    display: flex;
    margin: 10px auto;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 70%;
    max-width: 90%;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    transition: all 0.2s ease;
    height: 40px;
}

.navbar:hover {
    box-shadow: 0 0 10px #5A6A80;
}

nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.navs {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
}

.navs:hover {
    transform: scale(1.1);
}

.name {
    font-size: 10px;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

.s-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #2B2F36, #4A5568);
    padding: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.5);
    color: white;
    width: 110px;
    height: 40px;
    text-align: center;
    transition: all 0.2s ease;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.r-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #f15c5c, #ff2c2c);
    padding: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.5);
    color: white;
    width: 110px;
    height: 40px;
    text-align: center;
    transition: all 0.2s ease;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.s-btn:active, .r-btn:active {
    transform: scale(0.95);
}

