body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(255, 255, 255, 0.35);
    border: 1px solid black;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
}

h1 {
    font-size: 100px;
}

button {
    padding: 15px;
    background-color: rgb(202, 45, 45);
    box-shadow: 2px 2px 5px black;
    border-radius: 10px;
    border: none;
    width: 150px;
    transition: all 0.3s ease;
    color: white;
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
}

button:active {
    box-shadow: 0 0 0;
    transform: translateX(2px) translateY(2px);
    border: none;
}

#cookie {
    transition: all 0.3s ease;
}

#cookie:hover {
    opacity: 0.8;
    cursor: pointer;
}

#cookie:active {
    transform: scale(0.95);
}
