body {
    color: white;
    height: 100vh;
    font-family: sans-serif;
    background-color: beige;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: skyblue;
    padding: 15px;
    width: 50%;
    height: 50%;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cookie-button {
    background: transparent;
    border: none;
    font-size: 150px;
    transition: all 0.3s ease;
}

.reset {
    background-color: red;
    border: none;
    padding: 15px;
    border-radius: 10px;
    width: 50%;
    font-size: 15px;   
    transition: all 0.3s ease; 
}

button:active {
    transform: scale(0.95);
}
