body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #403F44, #1E1B32);
    font-family: cursive;
    color: white;
    height: 100vh;
}

.main-page {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.01);
    padding: 15px;
    border-radius: 10px;
    width: 450px;
    height: auto;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    transition: all 0.2s ease;
}

.main-page:hover {
    box-shadow: 0 0 5px #33CCFC;
}

.setting-boxes {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.boxes {
    background-color: #1C1C1E;
    border-radius: 25px;
    padding: 15px;
    transition: all 0.2s ease;
}

.boxes:hover {
    transform: scale(1.03);
    box-shadow: 0 0 5px black;
}

.navbar {
    display: flex;
    margin: 0px auto;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0, 0.5);
    width: 450px;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    transition: all 0.2s ease;
}

.navbar:hover {
    box-shadow: 0 0 5px #33CCFC;
}

nav {
    display: flex;
    justify-content: space-evenly;
    transition: all 0.2s ease;
    width: 100%;
}

.navs {
    transition: all 0.3s ease;
}

.navs:hover {
    transform: scale(1.1);
}

a {
    text-decoration: none;
    color: white;
}