body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #403F44, #1E1B32);;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100vh;
}

.main-page {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: var(--card);
    padding: 15px;
    border-radius: 10px;
    width: 500px;
    height: auto;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    transition: all 0.2s ease;
}
.main-page:hover {
    box-shadow: 0 0 5px #33CCFC;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #5B7FFF, #33CCFC);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.5);
    color: white;
    width: 110px;
    height: 40px;
    text-align: center;
    transition: all 0.2s ease;
}

.oth-btns {
    display: flex;
    justify-content: center;
    gap: 1vh;
    margin: 1vh auto;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1vh;
}


.btn:hover {
    transform: scale(1.05)
}

.welcome {
    text-align: center;
}

.xp-bar {
    margin: 15px auto;
    text-align: center;
    border: 2px solid black;
    border-radius: 30px;
    width: 350px;
    box-shadow: 0 0 5px #5B7FFF
}

.filling-up {
    background: linear-gradient(to right, #5B7FFF, #33CCFC);
    padding: 15px;
    border-radius: 30px 15px 15px 30px;
    width: 64%;
    animation: fill-xp 1.5s ease-out forwards;
}

.level-current {
    text-align: center;
    font-size: 14px;
}
@keyframes fill-xp {
    from { width: 0; }
    to { width: 64%; }
}

.navbar {
    display: flex;
    margin: 0px auto;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0, 0.5);
    width: 100vh;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    transition: all 0.2s ease;
    height: 40px;
}

.navbar:hover {
    box-shadow: 0 0 5px #33CCFC;
}

nav {
    display: flex;
    justify-content: space-evenly;
    transition: all 0.2s ease;
    width: 100%;
    
}

.navs {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
}

.navs:hover {
    transform: scale(1.1);
}

.name {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 10px;
}

.gen-stats {
    display: block;
    width: 50%;
    height: 15vh;
}

.stat {
    font-size: 15px;
}

.graph {
    display: block;
    width: 50%;
}

.stats {
    display: flex;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    transition: all 0.2s ease;
    height: 20vh;
    overflow: hidden;
}

.stats:hover {
    box-shadow: 0 0 5px #33CCFC;
}

.profile-picture {
    width: 100px;
    border-radius: 50%;
    border: 1.5px solid white;
    transition: all 1s ease;
}

.profile-picture:hover {
    border-radius: 25%;
    transform: scale(1.15);
}

.profile-div {
    display: flex;
    justify-content: center;
}

.ind-game {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #5B7FFF, #33CCFC);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.5);
    color: white;
    width: 240px;
    height: 40px;
    text-align: center;
    transition: all 0.2s ease;
}

.ind-game:hover {
    transform: scale(1.05);
}

.games-r {
    display: flex;
    justify-content: center;
    gap: 15px;
}
