* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #403F44, #1E1B32);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-height: 100vh;
    margin: 0;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1000;

    display: flex;
    margin: 10px auto;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 70%;
    max-width: 90%;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    transition: all 0.2s ease;
    height: 40px;
}

.navbar:hover {
    box-shadow: 0 0 10px #5A6A80;
}

nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.navs {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
}

.navs:hover {
    transform: scale(1.1);
}

.name {
    font-size: 10px;
    text-align: center;
}

.main-page {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    width: 75%;
    max-width: 75%;
    box-shadow: 0 0 2px rgb(0, 0, 0);
    transition: all 0.2s ease;
}

.main-page:hover {
    box-shadow: 0 0 2px #5A6A80;
}

a {
    text-decoration: none;
    color: white;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #2B2F36, #4A5568);
    opacity: 0.9;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    width: 110px;
    height: 40px;
    transition: all 0.2s ease;
    
}

.btn:active {
    transform: scale(0.95);
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1vh;
    flex-wrap: wrap;
}

.oth-btns {
    display: flex;
    justify-content: center;
    gap: 1vh;
    margin: 1vh auto;
    flex-wrap: wrap;
}

.btn:hover {
    opacity: 0.5;
}

.welcome {
    text-align: center;
}

.level-current {
    text-align: center;
    font-size: 14px;
}

.xp-bar {
    margin: 15px auto;
    border: 2px solid black;
    border-radius: 30px;
    width: 350px;
    max-width: 90%;
    box-shadow: 0 0 10px #5A6A80;
}

.filling-up {
    background: linear-gradient(to bottom right, #2B2F36, #4A5568);
    padding: 15px;
    border-radius: 30px;
    width: 64%;
    animation: fill-xp 1.5s ease-out forwards;
}

@keyframes fill-xp {
    from { width: 0; }
    to { width: 64%; }
}

.profile-picture {
    width: 100px;
    border-radius: 50%;
    border: 1.5px solid white;
    transition: all 1s ease;
}

.profile-picture:hover {
    border-radius: 25%;
    transform: scale(1.15);
}

.profile-div {
    display: flex;
    justify-content: center;
}

.ind-game {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #2B2F36, #4A5568);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    width: 240px;
    height: 40px;
    transition: all 0.2s ease;
}

.ind-game:active {
    transform: scale(0.95);
}

.games-r {
    display: flex;
    justify-content: center;
    gap: 15px;
    transition: all 0.2s ease;
}

.games-r:hover {
    opacity: 0.5;
}

.h2 {
    text-align: center;
}
