body {
    height: 100vh;
    font-family: sans-serif;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: rgb(162, 235, 135);
    border: 1px dashed black;
    box-shadow: 0 0 3px black;
    padding: 15px;
    border-radius: 10px;
    height: 150px;
    width: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1200px) {
    main {
        background-color: rgb(135, 235, 200);
    }
}

@media (max-width: 900px) {
    main {
        background-color: rgb(162, 135, 235);
    }
}

@media (max-width: 600px) {
    main {
        background-color: rgb(235, 135, 135);
    }
}
