* {
    box-sizing: border-box;
}

:root {
    --body-colour: rgb(235, 235, 235);
    --form-colour: linear-gradient(to bottom right, rgb(134, 134, 134), rgb(49, 49, 49));
    --gap: 10px;
    --padding: 10px;
    --border-radius: 10px;
    --border: 1px dashed white;
    --main-width: 75%;
    --text-colour: white;
    --hover-colour: rgb(255, 255, 255, 0.1)
}

body {
    background: var(--body-colour);
    background-image: linear-gradient(rgb(0, 0, 0, 0.15) 1px, transparent 1px),
        linear-gradient(90deg, rgb(0, 0, 0, 0.15) 1px, transparent 1px);
    background-size: 40px 40px;
    color: var(--text-colour);
    font-family: system-ui;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

form {
    background: var(--form-colour);
    padding: var(--padding);
    border: var(--border);
    border-radius: var(--border-radius);
    width: 90%;
    max-width: 400px;
    min-width: 375px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap);
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    width: 100%;

    display: flex;
    align-items: center;
}

.text-input {
    padding: var(--padding);
    border-radius: var(--border-radius);
    background-color: transparent;
    border: var(--border);
    width: var(--main-width);
    color: var(--text-colour);
    transition: all 0.3s ease;
}

.text-input::placeholder {
    color: var(--text-colour);
}

.text-input:hover {
    background-color: var(--hover-colour) ;
}

.remember-me {
    margin: 10px;
}

.login-btn {
    padding: var(--padding);
    border-radius: var(--border-radius);
    border: var(--border);
    width: var(--main-width);
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

.login-btn:hover {
    background-color: var(--hover-colour);
}

.login-btn:focus {
    transform: scale(0.99);
}

.secondary {
    margin: 15px;

    display: flex;
    gap: var(--gap);
}

a {
    color: var(--text-colour);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
