* {
    box-sizing: border-box;
}

:root {
    --body-colour: rgb(26, 26, 26);
    --form-colour: rgb(35, 35, 35);
    --gap: 10px;
    --padding: 10px;
    --border-radius: 10px;
    --border: 1px dashed white;
    --text-colour: white;
    --hover-colour: rgb(255, 255, 255, 0.1);
}

body {
    background: var(--body-colour);
    background-image: linear-gradient(rgb(255, 255, 255, 0.15) 1px, transparent 1px),
        linear-gradient(90deg, rgb(255, 255, 255, 0.15) 1px, transparent 1px);
    background-size: 40px 40px;
    color: var(--text-colour);
    font-family: system-ui;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

form {
    background-color: var(--form-colour);
    padding: var(--padding);
    border: var(--border);
    border-radius: var(--border-radius);
    width: 750px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap);
}

.inputs {
    gap: var(--gap);
    width: 100%;
    max-width: 500px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.text-input {
    padding: var(--padding);
    border-radius: var(--border-radius);
    background-color: transparent;
    border: var(--border);
    width: var(--main-width);
    color: var(--text-colour);
    transition: all 0.3s ease;
    outline: none;
}

.text-input::placeholder {
    color: var(--text-colour);
}

.text-input:hover, .text-input:focus {
    background-color: var(--hover-colour) ;
}

.remember-me {
    margin: 10px;
}

.login-btn {
    padding: var(--padding);
    border-radius: var(--border-radius);
    border: var(--border);
    width: var(--main-width);
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    max-width: 500px;
}

.login-btn:hover {
    background-color: var(--hover-colour);
}

.login-btn:focus {
    transform: scale(0.99);
}

.login-div {
    width: 25%;
    display: flex;
    justify-content: center;
}

.secondary {
    margin: 15px;
    width: 80%;

    display: flex;
    justify-content: center;
    gap: var(--gap);
}

a {
    color: var(--text-colour);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.or {
    font-size: 15px;
}

.external-logins {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--gap);
    margin: 15px;
}

.external {
    padding: var(--padding);
    border-radius: var(--border-radius);
    border: var(--border);
    width: 215px;
    cursor: pointer;
    transition: all 0.3s ease;

    display: flex;
    align-items: center;
    gap: var(--gap);
}

.external:hover {
    background-color: var(--hover-colour);
}

@media (max-width: 1200px) {
    form {
        width: 750px;
    }
}

@media (max-width: 900px) {
    form {
        width: 550px;
    }
}

@media (max-width: 600px) {
    form {
        width: 400px;
    }
}
