body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #403F44, #1E1B32);    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    height: 100vh;
}

.main-page {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.01);
    padding: 15px;
    border-radius: 10px;
    width: 75vh;
    height: auto;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    transition: all 0.2s ease;
}

.main-page:hover {
    box-shadow: 0 0 5px #33CCFC;
}

.setting-boxes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.boxes div {
    display: flex;
    align-items: center;
    background-color: #1C1C1E;
    border-radius: 25px;
    gap: 10px;
    height: 50px;
    padding-left: 30px;
    background: linear-gradient(to right, #5B7FFF, #33CCFC);
}

.boxes {
    transition: all 0.2s ease;
}

.boxes:active {
    transform: scale(0.95);
}

.navbar {
    display: flex;
    margin: 0px auto;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0, 0.5);
    width: 100vh;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    transition: all 0.2s ease;
    height: 40px;
}

.navbar:hover {
    box-shadow: 0 0 5px #33CCFC;
}

nav {
    display: flex;
    justify-content: space-evenly;
    transition: all 0.2s ease;
    width: 100%;
    
}

.navs {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
}

.navs:hover {
    transform: scale(1.1);
}

.name {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 10px;
}

a {
    text-decoration: none;
    color: white;
}

.red {
    color: rgb(168, 49, 49);
}
