body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #403F44, #1E1B32);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-height: 100vh;
    margin: 0;
}

.navbar {
    position: fixed;
    top: 0;
    display: flex;
    margin: 10px auto;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 70%;
    max-width: 90%;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    transition: all 0.2s ease;
    height: 40px;
}

.navbar:hover {
    box-shadow: 0 0 10px #5A6A80;
}

nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.navs {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
}

.navs:hover {
    transform: scale(1.1);
}

.name {
    font-size: 10px;
    text-align: center;
}
.main-page {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    width: 75%;
    max-width: 75%;
    box-shadow: 0 0 2px rgb(0, 0, 0);
    transition: all 0.2s ease;
}

.main-page:hover {
    box-shadow: 0 0 2px #5A6A80;
}

.main-page::-webkit-scrollbar {
    width: 5px;
}

.main-page::-webkit-scrollbar-thumb {
    background: #4A5568;
    border-radius: 10px;
}

.setting-boxes {
    display: flex;
    flex-direction: column;
}

.danger-zone {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(168, 49, 49);
    border-radius: 15px;
}

.general, .appearance {
    display: flex;
    flex-direction: column;
    border: 2px solid #000000;
    border-radius: 15px;
}

.boxes div {
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom right, #2B2F36, #4A5568);
    border-radius: 10px;
    gap: 10px;
    height: 50px;
    padding-left: 30px;
    margin: 5px;
}

.boxes {
    transition: all 0.2s ease;
    text-decoration: none;
    color: white;
}

.boxes:hover {
    opacity: 0.5;
}

.boxes:active {
    transform: scale(0.95);
}

.red {
    color: rgb(168, 49, 49);
}

a {
    text-decoration: none;
    color: white;
}
