body {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: linear-gradient(to right, #403F44, #1E1B32);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;

    margin: 10px;
    height: 100vh;
}

.profile-picture {
    border-radius: 50%;
    height: 100px;
    border: 1px solid;
}

.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto ;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    padding: 15px;
    border-radius: 10px;
    width: 75vh;
    transition: all 0.3s ease;
}

.main-page:hover {
    box-shadow: 0 0 5px #33CCFC;
}

.navbar {
    display: flex;
    margin: 0px auto;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0, 0.5);
    width: 100vh;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    transition: all 0.2s ease;
    height: 40px;
}

.navbar:hover {
    box-shadow: 0 0 5px #33CCFC;
}

nav {
    display: flex;
    justify-content: space-evenly;
    transition: all 0.2s ease;
    width: 100%;
    
}

.navs {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
}

.navs:hover {
    transform: scale(1.1);
}

.name {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 10px;
}

a {
    color: white;
    text-decoration: none;
}

.stats {
    display: flex;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    transition: all 0.2s ease;
    height: 50vh;
    width: 80%;
    overflow: hidden;
}

.stats:hover {
    box-shadow: 0 0 5px #33CCFC;
}

.gen-stats {
    width: 50%;
}

.stat {
    font-size: 15px;
}

.most-active-days {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 15px;
}

.mon {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    width: 200px;
    border-radius: 5px;
}

.tue {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    width: 95px;
    border-radius: 5px;
}

.wed {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    width: 55px;
    border-radius: 5px;
}

.thu {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    width: 85px;
    border-radius: 5px;
}

.fri {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    width: 35px;
    border-radius: 5px;
}

.sat {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    width: 25px;
    border-radius: 5px;
}

.sun {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    width: 55px;
    border-radius: 5px;
}
