body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    color: white;
}

.grid-section {
    width: 100%;
    display: grid;
    margin: 15px;
    grid-template-columns: 200px repeat(4, 1fr) ; 
    grid-template-rows: 100px repeat(3, 200px) 100px;
    gap: 1em;
    grid-template-areas:
        "sidebar header header header header" 
        "sidebar main main main main"
        "sidebar main  main main main"
        "sidebar description description description description"
        "sidebar footer footer footer footer";
}

main {
    grid-area: main;
    background-color: rgb(173, 135, 235);
}

aside {
    grid-area: sidebar;
    background-color: rgb(135, 163, 235);
}

.header {
    grid-area: header;
    background-color: rgb(235, 230, 135);
}

.footer {
    grid-area: footer;
    background-color: rgb(135, 235, 202);
}

.description {
    grid-area: description;
    background-color: rgb(235, 135, 135);
}

.grid-boxes {
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    font-weight: bold;
    font-size: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
}
