body {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    color: white;
}

.grid-section {
    display: grid;
    grid-template-columns: repeat(3, 250px); 
    grid-template-rows: repeat(4, 250px);
    gap: 1em;
    grid-template-areas:
        "header header header" 
        "box-one box-one box-two"
        "box-three box-four box-four"
        "footer footer footer";
}

.header {
    grid-area: header;
    background-color: rgb(235, 230, 135);
}

.footer {
    grid-area: footer;
    background-color: rgb(135, 235, 202);
}

.box-one {
    grid-area: box-one;
    background-color: rgb(135, 206, 235);
}

.box-two {
    grid-area: box-two;
    background-color: rgb(152, 235, 135);
}

.box-three {
    grid-area: box-three;
    background-color: rgb(235, 135, 135);
}

.box-four {
    grid-area: box-four;
    background-color: rgb(208, 135, 235);
}

.grid-boxes {
    border-radius: 25px;
    box-shadow: 0 0 5px black;
    font-weight: bold;
    font-size: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
}
