body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    justify-content: flex-end;
    background-color: rgb(26, 26, 26);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.main-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(26, 26, 26);
    box-shadow: 0 0 5px rgb(0, 0, 0);
    padding: 15px;
    border-radius: 20px;
}

.message-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    background-color: rgb(26, 26, 26);
    width: 500px;
    border: 0;
}
.msg-box {
    padding: 15px;
    border-radius: 30px;
    background-color: rgb(26, 26, 26);
    width: 500px;
    border: 2px solid black;
}

a {
    background-color: rgb(26, 26, 26);
    padding: 15px 20px;
    border-radius: 50%;
    border: 2px solid black;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}
a:hover {
    transform: scale(1.05);
    border-radius: 30%;
}

.other-options {
    display: flex;
    gap: 15px;
    padding: 15px;
}

.chat-box {
    font-size: 8px;
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    background-color: rgb(26, 26, 26);
    box-shadow: 0 0 5px rgb(0, 0, 0);
    padding: 15px;
    border-radius: 20px;
    height: 50vh;
    width: 70vh;
}

.user {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    text-align: right; 
}
