body {
    background: linear-gradient(to bottom right, #FF6868, #FF68DE);
    height: 100vh;
    color: white;
    font-family: sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: rgb(255, 255, 255, 0.35);
    padding: 10px;
    border-radius: 15px;
    width: 70%;
    max-width: 750px;
    height: 35%;
    min-width: 300px;
    border-right: 1px solid white;
    border-top: 1px solid white;
    backdrop-filter: blur(7px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-text-input-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.typing-inputs {
    padding: 15px;
    border-radius: 10px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
}

.main-label {
    width: 100%;
    max-width: 350px;

    display: flex;
    flex-direction: column; 
}

.secondary {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

.login-btn {
    background: linear-gradient(to bottom right, #FF6868, #FF68DE);
    border: none;
    padding: 15px;
    width: 350px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.login-btn:hover {
    opacity: 0.75;
}

input { transition: all 0.3s ease; }

input:focus {
    outline: none;
    padding: 20px;
    font-size: 100%;
    box-shadow: 0 0 10px rgb(255, 255, 255);
}
