body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

nav {
    box-shadow: 0 0 3px black;
    border-radius: 10px;
    padding: 10px 20px;
    backdrop-filter: blur(5px);
    position: fixed;
    top: 15px;
    width: 70%;
    max-width: 1000px;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

.size-normal {
    font-size: large;
    display: flex;
    align-items: center;
    gap: 15px;
}

.pfp {
    border-radius: 50%;
}

.offer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
}

.offer img {
    border-radius: 15px;
    box-shadow: 0 0 5px black;
    max-width: 90%;
    height: auto;
}

.main-text-get {
    font-size: 40px;
    text-align: center;
    margin: 40px 0;
}

.every-option-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    max-width: 1200px;
}

.options {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: 350px;
}

.options img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.options h1 {
    font-size: 1.5rem;
    margin: 15px 0 10px 0;
}

.options a {
    color: rgb(43, 108, 247);
}

.other-text-under {
    width: 100%;
    gap: 50px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 3px black;
    border-radius: 10px;
    max-width: 1000px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.other-text-under a {
    color: rgb(43, 108, 247);
}

.other-text-under div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
