body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #403F44, #1E1B32);
    font-family: cursive;
    color: white;
    text-align: center;
    height: 100vh;
}

.all-levels {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    padding: 10px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    width: 300px;
    height: 200px;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    margin: auto;
    transition: all 0.2s ease;
}

.all-levels:hover {
    box-shadow: 0 0 5px #33CCFC;
}

.container {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}

.levels {
    background-color: #403F44;
    padding: 15px;
    width: 32px;
    height: 32px;
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;
    transition: all 0.2s ease;
    box-shadow: 0 0 5px rgb(0, 0, 0);
}

.levels:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px #33CCFC;
}

a {
    color: white;
    text-decoration: none;
}

.navbar {
    display: flex;
    margin: 0px auto;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0, 0.5);
    width: 450px;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    transition: all 0.2s ease;
}

.navbar:hover {
    box-shadow: 0 0 5px #33CCFC;
}

nav {
    display: flex;
    justify-content: space-evenly;
    transition: all 0.2s ease;
    width: 100%;
}

.navs {
    transition: all 0.3s ease;
}
.navs:hover {
    transform: scale(1.1);
}

.back-next {
    background: linear-gradient(to bottom right, #5B7FFF, #33CCFC);
    padding: 5px 15px;
    border-radius: 5px;
    transition: all 0.2s ease;
}

.back-next:hover {
    transform: scale(1.05);
}

.b-n-btns {
    display: flex;
    gap: 15px   ;
}
