body {
    background: linear-gradient(to right, #403F44, #1E1B32);
    font-family: cursive;
    color: white;
}

.main-header {
    display: flex;
    justify-content: center;
    margin: 0px auto;
    background-color: rgb(255, 255, 255, 0.01);
    padding: 15px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 3px 10px rgb(0, 0, 0);
}

.main-page {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    background-color: rgb(255, 255, 255, 0.01);
    padding: 15px;
    border-radius: 10px;
    width: 450px;
    height: auto;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    transition: all 0.3s ease;
}

.main-page:hover {
    box-shadow: 0 0 5px #33CCFC;
}

a {
    text-decoration: none;
    color: black;
}

.btn {
    display: inline-block;
    background: linear-gradient(to bottom right, #5B7FFF, #33CCFC);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.5);
    color: white;
    width: 80px;
    text-align: center;
    transition: all 0.3s ease;
}

.btn:hover {
    transform: scale(1.05)''
}

.welcome {
    text-align: center;
}

.xp-bar {
    margin: auto;
    text-align: center;
    border: 2px solid black;
    border-radius: 30px;
    width: 350px;
    box-shadow: 0 0 10px rgb(255, 215, 0, 0.3);
}

.filling-up {
    background: linear-gradient(to right, #5B7FFF, #33CCFC);
    padding: 15px;
    border-radius: 30px 15px 15px 30px;
    width: 64%;
    animation: fill-xp 1.5s ease-out forwards;
}

.level-current {
    text-align: center;
    font-size: 14px;
}
@keyframes fill-xp {
    from { width: 0; }
    to { width: 64%; }
}
