* {
    box-sizing: border-box;
}

:root {
    --colour: rgb(0, 0, 0);
    --gap: 25px;
    --border-radius: 15px;
    --margin: 15px;
    --padding: 15px;
    --border: 1px dashed black;
}

body {
    min-height: 100dvh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(235, 235, 235);

    /* display: grid; */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--margin);
}

.right-nav {
    display: flex;
    gap: var(--gap);
    align-items: center;
}

.pfp {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

a {
    color: var(--colour);
    text-decoration: none;
}

header {
    background: linear-gradient(to right,  #A7C4E0, #C4E3E8);
    width: 90%;
    border-radius: var(--border-radius);
}

header div {
    margin: var(--margin);
}

.wrapper {
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    justify-content: center;
    gap: var(--gap);
}

li { list-style: none;
    padding: var(--padding); 
    border-radius: var(--border-radius); 
    transition: all 0.5s ease;
}

li:hover {
    background-color: #bbd9f5;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description h1 { font-size: 16px;}
.description p { font-size: 14px; }

.description div {
    background-color: rgba(29, 29, 29, 1);
    padding: var(--margin);
    width: 70%;
    border-radius: 50px;
    color: white;
    margin: var(--margin);

    display: flex;
}

.tasks {
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 300px;
    gap: var(--gap);
    margin: var(--margin);

    grid-template-areas: 
    "card-1 card-2 card-3 card-4";
}

.card { border-radius: var(--border-radius); padding: var(--padding);}

section h1 { font-size: 20px; margin: var(--margin);}
.tasks button {
    padding: var(--padding);
    width: 100%;
    border-radius: var(--border-radius);
    background-color: transparent;
    border: var(--border);
    color: var(--colour);
    transition: all 0.3s ease;
}

.card button:hover { cursor: pointer; background-color: rgb(235, 235, 235);}

.card-1 {
    background-color: white;
    grid-area: card-1;
}

.card-2 {
    background-color: white;
    grid-area: card-2;
}

.card-3 {
    background-color: white;
    grid-area: card-3;
}

.card-4 {
    background-color: white;
    grid-area: card-4;
}
